* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
 }

.pre_head{
    height:35px;
    width:100%;
    padding: 5px;
}

.pre_head ul{
    list-style: none;
    margin-left: 150px;
}

.pre_head ul li{
    display: inline-block;
    padding-right: 25px;
}

.pre_head ul li i{
    padding-right: 10px;
    color: #00C6A9;
}


/* ----Navbar CSS----*/

.navbar{
    height:80px;
    width:100%;
    padding: 0px 0px 0px 50px !important;
    background-color: #00C6A9;
}
.navbar .image{
    width:5%;
    display:inline-block;
}

.image img{
    height: 80px;
    width : 70px;
    padding: 10px;
    background-color: white;
}

.navbar .menu{
    width:74%;
    padding-top: 15px;
    display:inline-block;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    padding-left: 25px;
    display:inline;
    color: #f2f2f2;
}

.navbar .other{
    width:21%;
    display: inline-block;
    padding-top: 15px;
}

.other ul{
    list-style: none;
}

.other ul li{
    padding-left: 25px;
    display: inline;
}

.other ul li i{
    color:#f2f2f2;
    padding-right: 10px;
}

.other ul li a{
    text-decoration: none;
    color: #f2f2f2;
}





.cont{
    width:100%;
    height:450px;
    position: relative;
    box-shadow: 2px 2px 15px #dedbdb;
    
}

.cont img{
    position: absolute;
    width:300px;
    height: 400px;
    top:270px;
    left: 80%;
    z-index: 2;
}

.cont .cont-rapper{
    position: relative;
    /* background-color: orange; */
    height: 350px;
    width:1300px;
    top: 40px;
    left: 170px;
}

.cont .cont-rapper .content{
    /* background-color: blue; */
    height: 100%;
    display: inline-block;
    margin-right: 100px;
    padding: 20px;
    width:600px;
}

.cont .cont-rapper .content i{
    font-size: 32px;
    color:#00C6A9;
    padding-bottom: 20px;
}

.cont .cont-rapper .content h2{
    font-size: 30px;
    font-weight: 700;
}

.cont .cont-rapper .content h3{
    font-size: 30px;
    font-weight: 700;
    color:#00C6A9 !important;
}

.cont .cont-rapper .content p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.cont .cont-rapper .content .btn{
    width:150px;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    background-color: black; 
    color:white;
    position: absolute;
}

.cont .cont-rapper .imgview{
    display: inline-block;
    /* background-color: green;  */
    height: 100%;
    width: 580px;
    position: absolute;
}

.cont .cont-rapper .imgview img{
    position:static;
    height:350px;
    width: 520px;
    z-index: 1;
}

.cont .cont-rapper{
    display: none;
}

.cont .cont-rapper.active{
    display: block;
}


.cont #previous{
    position: absolute;
    top:94%;
    left:72%;
    transform: translateY(-94%);
    transform: translateX(-72%);
    height: 60px;
    width: 50px;
    cursor:pointer;
    color:#00C6A9;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    cursor:pointer;
}

.cont #next{
    position: absolute;
    top:94%;
    left:75%;
    transform: translateY(-94%);
    transform: translateX(-75%);
    line-height: 50px;
    height: 60px;
    width: 50px;
    color:#00C6A9;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    cursor:pointer;
}



/*---Form Part CSS---*/

.form-part{
    height: 400px;
    width:70%;
    margin: 100px 200px 100px 250px;
    /* background-color: coral; */
    box-shadow: 0 0 20px #dedbdb;
    border: 0px solid #dedbdb;
    padding: 20px;
    position: relative;
}

.form-part h1{
    padding-right: 15px;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 2px solid #00C6A9; 
    display: inline-block;
    margin-bottom: 40px;
    margin-left: 38px;
}

.form-part h2{
    font-size: 22px;
    color: #00C6A9;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 40px;
    
}

.form-part .formy{
    /* background-color: cornsilk; */
}

.form-part .formy .fom{
    display: inline-block;
    width:280px;
    height: 100px;
    /* background-color: darkorange; */
    padding: 10px 15px 10px 10px;
    margin-left: 30px;
    margin-right: 20px;
}

.form-part .formy .fom label{
    padding-bottom: 10px;
}

.form-part .formy .fom input{
    width: 280px;
    height: 40px;
    border:1px solid #00C6A9;
    border-radius: 5px;
    color:#00C6A9;
    padding-left: 10px;
    
}

.form-part .formy .fom input::placeholder{
    color:#00C6A9;
    padding-left: 5px;
    padding-bottom: 5px;
}


.form-part .formy .fom select{
    width: 280px;
    height: 40px;
    border:1px solid #00C6A9;
    border-radius: 5px;
    padding-left: 5px;
}

.form-part .formy .fom #sub{
    width: 120px;
    height: 30px;
    background-color: black;
    border-radius: 4px;
    border: none;
    font-size: 11px;
    color: white;
    font-weight: 600;
    padding: 5px;
}


